
body {
    background-image: url(../images/starWars.jpg);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100% auto;
/*    background-position: 30% 20%;*/
}

.container {
    margin: 0;
    margin-top: 40px;
    
}



.row{
    padding-left: 10px;
}



.rpg {
    margin-top: -30px;
    font-size: 3em;
}

.col-lg-8{
    padding: 0;
}

.col-sm-3 {

    border: solid green;
    background-color: aliceblue;
    text-align: center;
}

.col-md-2 {

    border: solid green;
    background-color: aliceblue;
    text-align: center;
}

.img-responsive {
    width: 100%;
    height:100px;
}
